*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.nav{
    color: black;
    display: inline;
    left: 150px;
    margin: 40px 15px 15px 0px;
    height: 100vw;
    text-align: center;
}
#dev{
    font-size: 30px;
}
#nav1{
    margin-left: 350px;
}
.content{
    background-color: aquamarine;
    width: 100vw;
    height: 500px;
}
.sub-content{
    background-color: beige;
    height: 460px;
    width: 75vw;
    position: relative;
    left: 170px;
    top: 20px;
    box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
}
img{
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
}
.text{
    position: relative;
    left: 220px;
    top: -130px;
}
.skill{
    height: 30vh;
    width: 30vw;
    position: relative;
    top: -100px;
    left: 50px;
}

.progress{
    background-color:gray;
    height: 8px;
    margin: 5px;
}

#html{
    width: 25vw;
}
#css{
    width: 20vw;

}
#php{
    width: 25vw;
}
#js{
    width: 27vw;
}
.skill1{
    width: 50px;
    height: 9px;
    background-color: aqua;
    position: relative;
    left: 325px;
    top: -13px;

}
.skill1{
    width: 50px;
    height: 9px;
    background-color: aqua;
    position: relative;
    left: 325px;
    top: -13px;

}
.skill2{
    width: 50px;
    height: 9px;
    background-color: aqua;
    position: relative;
    left: 260px;
    top: -13px;

}
.skill3{
    width: 50px;
    height: 9px;
    background-color: aqua;
    position: relative;
    left: 190px;
    top: -13px;

}
.skill4{
    width: 50px;
    height: 9px;
    background-color: aqua;
    position: relative;
    left: 350px;
    top: -13px;

}
.about{
    height: 460px;
    width: 25vw;
    position: relative;
    left: 500px;
    top: -200px;
    font-size: 25px;
}
.para{
    font-size: 17px;
}